*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    color: white;
    /* background-color: black; */
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card{
    width: 30%;
    height: 20%;
    /* 85% */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 20px;
    /* display: none; */
}
.search {
    width: 100%;
    height: 60%;
    /* 10% */
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
}
.search input {
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    border: none;
    width: 70%;
    height: 80%;
    color: black;
    font-size: large;
}
.search img{
    width:8%;
    height: 80%;
    cursor: pointer;

}

.col{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.wind-speed{
    display:flex;
    width: 60%;
    gap: 10px;
}
.wind-val{
    height: 100%;
    align-self: center;
    justify-content: space-between;
}

.one{
    font-size:x-large;
}

.wind-speed img{
    width: 25%;
    height: 80%;
}

.lab {
    font-size: xx-large;
}
.cond-img img{
    height: 100%;
}
.cond-img{
    height: 40%;
}

.hidden{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}


.invalid{
    position: absolute;
    top: 70%;
    background-color: red;
    height: 10%;
    width: 10%;
    text-align: center;
    padding-top: 1.5%;
    border-radius: 40px;
    font-size:x-large;
    display: none;
}